APP_PORT=8080
APP_URL=http://127.0.0.1:8080
MAX_UPLOAD_SIZE=10

PARTNER_VERIFICATION_TOKEN=7i74{+ou.h~W~tsjEc,THp{~joN~n_7aG62jg6rE7=hKz15oJ

TOKEN_LENGTH=30
TOKEN_EXPIRES_TIME=10m

STATE_EXPIRES_TIME=5m

DB_USERNAME=root
DB_PASSWORD=
DB_NAME=ambic
DB_HOST=localhost
DB_PORT=3306

JWT_SECRET=ambickeren
JWT_EXPIRES=2h

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=ambic@gmail.com
SMTP_PASS="abcd efgh ijkl mnop"

GOOGLE_CLIENT_ID=238746287346-v0fer4366p6s62gwrgerg45tvk2r9dnuc88v.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-JUnefHjrghi4urjefw
GOOGLE_REDIRECT_URL=http://localhost:3000
GOOGLE_MAPS_API_KEY=AjhrgeiuaaaAytrwihc_ferjhfbgi4uiuagdjeAJyg

SUPABASE_BUCKET=uploads
SUPABASE_URL=https://rjghieurghreuighdk.supabase.co
SUPABASE_SECRET=kejrgiIUAYGdjewhgiAfbw.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVxcm5wdm55ZHF3eXJlaXZpZWtpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0MDg0MTMwOSwAjhegfrgfi5uhgeoi5t.SenDTPvCRs1z1EQx-6bcknG0Bn3g3ZNuOTybra9Yzuc
