📢 <b>Notifikasi Pendaftaran Mitra Baru</b> 🎉

🧑 <b>Informasi User Pendaftar:</b>
- <b>ID User:</b> %s
- <b>Nama:</b> %s
- <b>Username:</b> %s
- <b>Email:</b> %s
- <b>No. Telepon:</b> %s
- <b>Alamat:</b> %s
- <b>Gender:</b> %s
- <b>Tanggal Pendaftaran:</b> %s

🏢 <b>Detail Bisnis Mitra:</b>
- <b>ID Mitra:</b> %s
- <b>Tipe Bisnis:</b> %s
- <b>Nama Bisnis:</b> %s
- <b>Alamat Bisnis:</b> %s
- <b>Kota:</b> %s
- 📍 <b>Lokasi:</b> <a href="%s">Lihat di Google Maps</a>
- 📷 <b>Instagram:</b> <a href="https://instagram.com/%s">%s</a>
- 🖼️ <b>Foto Bisnis:</b> <a href="%s">🖼️ Klik untuk melihat foto</a>
- <b>Tanggal Pendaftaran:</b> %s